{% extends "Autoescuela/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}formpago{% endblock %}

{% block contenido %}

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form id="pagoForm" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <h3>Total a pagar: {{ total }}</h3>
        <a href="{% url 'pagoexitoso' %}" class="btn btn-success">PAGAR</a>
    </form>
    </div>
    <div class="col"></div>
  </div>
</div>







{% endblock %}
