{% extends "Autoescuela/base.html" %}
{% load static %}


{% block title %}miscompras{% endblock %}

{% block contenido %}









  <section class="h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-11">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Mis compras:</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color:    #000000;">Compras</p>
              </div>
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">Curso Clase B</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Precio:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">$202.300</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Fecha de compra:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">13/02/2023</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Estado de curso:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Completado</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <a class="btn btn-primary" href="#" role="button">Factura</a>
                  </div>
                  </div>
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                  </div>
                </div>
              </div>
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">Curso Clase A2</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Precio:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">$300.000</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Fecha de compra:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">13/02/2023</p>
                    </div>
                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Estado de curso:</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0 small">Completado</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <a class="btn btn-primary" href="#" role="button">Factura</a>
                  </div>
                  </div>
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock %}