{% extends "Autoescuela/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}perfilAdmin{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <h1 class="text-center">Administración - Cursos y Usuarios</h1>
    
    <div class="mt-5">
        <h2>Historial de cursos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id perfil</th>
                    <th>producto</th>
                    <th>Comprador</th>
                    <th>Fecha de Compra</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                <tr>
                    <td>{{ compra.id }}</td>
                    <td>{{ compra.producto.nombre }}</td>
                    <td>{{ compra.perfil }}</td>
                    <td>{{ compra.fecha_pedido }}</td>
                    <td>
                        
                            
                        <a href="{% url 'editar_compra' compra.id %}" class="btn btn-sm btn-warning">Editar</a>
                        
                        <a href="{% url 'eliminar_compra' compra.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No se han realizado compras aún.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear_compra' %}" class="btn btn-primary">Crear Compra</a>
    </div>
    
    <div class="mt-5">
        <h2>Usuarios Logueados</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id usuario</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Último Ingreso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.last_login }}</td>
                    <td>
                        <a href="{% url 'editar_perfil' usuario.id %}" class="btn btn-sm btn-warning">Editar</a>
                        
                          
                        <a href="{% url 'eliminar_perfil' usuario.id %}" class="btn btn-sm btn-danger">Eliminar</a>

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hay usuarios logueados recientemente.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear_perfil' %}" class="btn btn-primary">Crear Perfil</a>
    </div>
</div>

{% comment %} <div class="container mt-5">
    <h1 class="text-center">Lista de Productos</h1>
    <div class="mt-5">
        <h2>Productos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cursos</th>
                    <th>Cupos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.cursos }}</td>
                    <td>{{ producto.cupos }}</td>
                    <td>
                        <a href="{% url 'editar_producto' producto.id %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No hay productos disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear_producto' %}" class="btn btn-primary">Crear Producto</a>
    </div>
</div> {% endcomment %}



  

{% endblock %}


